
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/NTTDATA/REDUX/redux-app/src/styles.css">
    <title>Document</title>
</head>
<h3>Contador</h3>
<h4>{{contador}}</h4>

<body>

    <div class="row text-center">

        <div class="col">
            <button (click)="multiplicar()" class="btn btn-primary">multiplicar</button>
            <button (click)="dividir()" class="btn btn-info">dividir</button>
        </div>
    </div>

    <hr>
    <div class="row text-center">

        <div class="col">
            <app-nieto [contador]="contador" (cambioContador)="resetNieto($event)"></app-nieto>
        </div>
    </div>

</body>

</html>