<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="row text-center">
    <div class="col">
      <h1>contador</h1>
      <h2>{{ contador }} </h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
      <button (click)="decrementar()" class="btn btn-info" >Decrementar</button>
      <button (click)="resetear()" class="btn btn-info" >resetear</button>
    </div>
    <h2>{{contador}}</h2>
  </div>
  <hr>
  
  <div class="row text-center">
    <div class="col">
      <app-hijo ></app-hijo> <!--Antes tenía esto dentro de <app-hijo ![contador]="contador" (cambioContador)="contador=$event"> Pero ahora una vez ya tenemos REDUX lo ponemos asi-->
    </div>

  </div>
  
</body>
<div>Con [contador] me lo traigo del padre y con (cambioContador) lo envio. Ojo llaves y parentesis. QUe ponga $event,
  es para indicar
  que es lo que enviemos(esto cuando tenia "app-hijo ![contador]="contador" (cambioContador)="contador=$event">)
  <h2>{{contador}}</h2>
</div>

</html>